body {
    margin: 0 auto;
    background-color: #CC0000;
    font-size: 100%;
}

main{
    margin: auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

iframe {
    padding: 1rem;
    background-color: #FFD700;
    max-width: 100%;
}